<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .navbar {
            margin-bottom: 50px;
            background-color: #c2e4b1;
            border: 0;
            font-size: 12px !important;
            line-height: 1.42857143 !important;
            letter-spacing: 4px;
            border-radius: 0;
            font-family: Montserrat, sans-serif;
        }

        .container {
            padding: 50px;
        }
    </style>
  </head>
  <body>
    <div class="navAdmin">
        <nav class="navbar navbar-default navbar-fixed-top">
            <nav class="navbar-header">
                <div><a href="#" class="navbar-brand">CMS</a></div>
            </nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="create_blob">create blog</a></li>
                <li><a href="logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-12 db-page-heading" style="padding-top: 5%">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success border-0 mb-3" role="alert" style="font-size: 14px;">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger border-0 mb-3" role="alert" style="font-size: 14px;">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% for post in data %}
        <div class="container">
            <a href="{% url 'view_blog' post.id %}"><h1>{{post.title}}</h1></a>
            <h4>Posted on {{post.created_at}}</h4>
            <p>
                {{post.content}}
            </p>

            <div>
                <a href="{% url 'editrecord' post.id %}">edit</a>
                 <a href="{% url 'deleterecord' post.id %}">delete</a>
            </div>
        </div>
    {% endfor %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>